{{!< default}}

<div class="content-area">
    <main class="site-main">
        <div class="post-feed">
            {{#foreach posts}}
                {{> "loop"}}
            {{/foreach}}
        </div>
        {{pagination}}
    </main>
</div>


<script>
    (function setLink() {
        const links = document.querySelectorAll('.comment-link')
        links.forEach(link => {
        let l = link.href; 
        l = l.substring(0, l.length - 1) + '#disqus_thread';
        console.log(l)
        link.href = l
        })
        
    })()
</script>